AWS_BEARER_TOKEN_BEDROCK=
AWS_REGION=ap-southeast-1
TIDB_HOST=
TIDB_PORT=4000
TIDB_USER=
TIDB_PASSWORD=
TIDB_DATABASE=airportdb
S3_BUCKET=tidb-latam-hackathon-2026-048364544505
S3_PREFIX=latam-hackathon-005

